@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutTeste.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/salvacao/images/bg_4.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url(/salvacao/images/chef.png);  width: 500px;
  height: 650px; position: relative">

                </a>
            </div>
            <div class="col-sm-7 wrap-about py-5 ftco-animate">
                <div class="heading-section mt-5 mb-4">
                    <div class="pl-lg-5 ml-md-5">
                        <span class="subheading">About</span>
                        <h2 class="mb-4">Welcome to JARVIS!</h2>
                    </div>
                </div>
                <div class="pl-lg-5 ml-md-5">
                    <p>
                        Created by young innovators, JARVIS promises to be your new best friend in the kitchen! To know more about JARVIS:
                        <h3>Home:</h3> Home page of your application
                        <h3>About:</h3> Where you are right now, created for you to know more about this application.
                        <h3>Recipes:</h3> Page where you can find recipes
                        <h3>Cookbook:</h3> Page where you can find you own recipes
                        <h3>Pantry:</h3> Page where you can entry what foods you have in your pantry
                        <h3>Shopping List:</h3> Page where you can entry what foods do you need to shop!
                        <h3>Login:</h3> Where everything starts! Login page, so you can enjoy JARVIS
                    </p>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">More cooking for you</span>
                <h2 class="mb-4">Enjoy JARVIS</h2>
                <p>We hope that JARVIS really helps you do your cooking!</p>
            </div>
        </div>
    </div>
</section>