@{
    Layout = null;
}

<style>
    body {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 30px;
    }

    * {
        box-sizing: border-box;
    }
</style>

    <!DOCTYPE html >
    <html >

    <style >
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        margin-left: 15px;
    }

    .imgcontainer {
        padding: 15px;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }



    /* Set a style for the submit button */
    .loginbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 16px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .loginbtn:hover {
            opacity: 1;
        }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        text-align: center;
    }
</style>



<body>

    <form action="/action_page.php">
        <h1>Login</h1>

        <div class="imgcontainer">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" width="200" height="200" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="loginbtn">Login</button>
        </div>

        <div class="container signin">
            <p>Don't have an account? <a href="~/Home/Register">Sign up</a>.</p>
        </div>
    </form>

</body>
</html>