@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("adicionar Atleta", "Index", "Atleta");
        @Html.ActionLink("ver atletas", "verAtletas", "Atleta");
    </div>
</body>

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>
        <a asp-controller="UserView" asp-action="getUsers">Ver utilizadores</a>
    </p>
    <p>
        <a asp-controller="UserView" asp-action="RegisterUser">Registo</a>
    </p>
    <p><a asp-controller="UserView" asp-action="UserLogin">Login</a></p>
</div>
