<!DOCTYPE html>
<html lang="en">
<head>
    <title>JARVIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

    <link rel="stylesheet" href="~/salvacao/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/salvacao/css/animate.css">

    <link rel="stylesheet" href="~/salvacao/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/salvacao/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/salvacao/css/magnific-popup.css">

    <link rel="stylesheet" href="~/salvacao/css/aos.css">

    <link rel="stylesheet" href="~/salvacao/css/ionicons.min.css">

    <link rel="stylesheet" href="~/salvacao/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/salvacao/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/salvacao/css/flaticon.css">
    <link rel="stylesheet" href="~/salvacao/css/icomoon.css">
    <link rel="stylesheet" href="~/salvacao/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light ftco-navbar-light-2" id="ftco-navbar">
        <div class="container">

            <a class="navbar-brand" href="/Home">JARVIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/Home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/Recipe" class="nav-link">Recipes</a></li>
                    <li class="nav-item"><a href="/Home/Cookbook" class="nav-link">Cookbook</a></li>
                    <li class="nav-item"><a href="/Home/Pantry" class="nav-link">Pantry</a></li>
                    <li class="nav-item"><a href="/Home/ShoppingList" class="nav-link">Shopping List</a></li>
                    <li class="nav-item active"><a href="/Home/Login" class="nav-link"><i class="fa fa-fw fa-user"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()


      <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">JARVIS</h2>
              <p>Your personal kitchen assistant, your best friend.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              </ul>
            </div>
          </div>
        </div>
       </div>

    </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="~/salvacao/js/jquery.min.js"></script>
  <script src="~/salvacao/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/salvacao/js/popper.min.js"></script>
  <script src="~/salvacao/js/bootstrap.min.js"></script>
  <script src="~/salvacao/js/jquery.easing.1.3.js"></script>
  <script src="~/salvacao/js/jquery.waypoints.min.js"></script>
  <script src="~/salvacao/js/jquery.stellar.min.js"></script>
  <script src="~/salvacao/js/owl.carousel.min.js"></script>
  <script src="~/salvacao/js/jquery.magnific-popup.min.js"></script>
  <script src="~/salvacao/js/aos.js"></script>
  <script src="~/salvacao/js/jquery.animateNumber.min.js"></script>
  <script src="~/salvacao/js/bootstrap-datepicker.js"></script>
  <script src="~/salvacao/js/jquery.timepicker.min.js"></script>
  <script src="~/salvacao/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="~/salvacao/js/google-map.js"></script>
  <script src="~/salvacao/js/main.js"></script>
    
  </body>
</html>