@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@model IEnumerable<LI4.Models.Utilizador>
@{
    ViewData["Title"] = "RegisterUser";
}

    <h4> New User </h4>

    <hr>

    <div class="row">
        <div class="col-md-4">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success">@TempData["Success"]
                <a asp-action="UserLogin"> Click Here to Login 
                </a>
                </p>
            }
            @if (TempData["Fail"] != null)
            {
                <p class="alert alert-danger">@TempData["Fail"]</p>
            }
        </div>
    </div>

    <form asp-action="RegisterUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="nome" class="control-label"></label>
            <input asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="text-danger"></span>
        </div>
    </form>



