@model JARVIS.Models.Receita


<h5>@ViewBag.Loc</h5>


@for (int i = 0; i < ViewBag.indispensaveis.Count; i++)
{
    <li>food <b>@ViewBag.indispensaveis[i].idAlimento</b> </li>
    <li>@Html.ActionLink("Begin", "Execute", new {Model.idReceita, passo = 0})</li>

}