@model IEnumerable<JARVIS.Models.Receita>

<p>
    @Html.ActionLink("Create New", "Register")
</p>


@foreach (var item in Model)
    {
        <li><h3>@item.Nome</h3></li>
        @foreach (var x in item.Ingredientes){
            <li>@x.Nome</li>
        }

    }